{
	"presets": ["react", "es2015"],
	"env": {
		"dev": {
			"plugin": [
				["react-transform", {
					"transforms": [{
						"transform": "react-transform-hmr",
						"imports": ["react"],
						"locals" : ["module"]
					}]
				}]
			]
		}
	}
}